In [1]:
import pandas as pd 
import numpy as np

In [2]:
df= pd.read_csv('demo.csv')
df

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
0,850297,Ms.,Shawna,W,Buck,F,shawna.buck@gmail.com,Rosario Buck,Keisha Buck,Hendricks,...,222-11-7603,702-771-7149,Las Vegas,Clark,Las Vegas,NV,89128,West,swbuck,ja8?k3BTF^]o@<&
1,304721,Mr.,Nathaniel,Z,Burke,M,nathaniel.burke@walmart.com,Derrick Burke,Phoebe Burke,Pugh,...,550-99-9897,231-765-6923,Irons,Lake,Irons,MI,49644,Midwest,nzburke,tPA@4Wh9Ja$+Ln
2,412317,Drs.,Elisabeth,W,Foster,F,elisabeth.foster@gmail.com,Irwin Foster,Janie Foster,Delaney,...,215-91-0004,270-749-4774,Lexington,Fayette,Lexington,KY,40501,South,ewfoster,5D.B4IGNkWJfG<~
3,621375,Mrs.,Briana,C,Lancaster,F,briana.lancaster@yahoo.com,Jeffrey Lancaster,Shelby Lancaster,Weiss,...,534-71-1053,219-623-8216,Munster,Lake,Munster,IN,46321,Midwest,bclancaster,I%?JDM;pW
4,787549,Hon.,Estella,L,Potter,F,estella.potter@gmail.com,Booker Potter,Katelyn Potter,Pate,...,644-29-6396,907-677-8486,Fairbanks,Fairbanks North Star,Fairbanks,AK,99709,West,elpotter,j4jkEXfC&Rh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,568435,Ms.,Bonnie,K,Baker,F,bonnie.baker@bp.com,Edwardo Baker,Pauline Baker,Robinson,...,064-02-6162,262-696-9171,Mukwonago,Waukesha,Mukwonago,WI,53149,Midwest,bkbaker,a?Co:/r;nu_wTQ
996,597409,Mr.,Luke,S,Turner,M,luke.turner@charter.net,Javier Turner,Nicole Turner,Sykes,...,056-02-8240,231-629-0498,Freeport,Barry,Freeport,MI,49325,Midwest,lsturner,7n5@64VC7|
997,359608,Hon.,Eva,S,Holman,F,eva.holman@hotmail.com,Coy Holman,Haley Holman,Boyle,...,343-11-1935,209-912-6705,Turlock,Stanislaus,Turlock,CA,95381,West,esholman,DG<<<e}*WgD<U
998,803426,Mrs.,Maritza,H,Christian,F,maritza.christian@microsoft.com,Dion Christian,Stephanie Christian,Mooney,...,336-11-5030,203-224-9056,Stamford,Fairfield,Stamford,CT,6910,Northeast,mhchristian,Krs@#TnM
999,669618,Drs.,Phyllis,H,Dudley,F,phyllis.dudley@yahoo.co.in,Jarrod Dudley,Latisha Dudley,Wilcox,...,101-02-6501,405-970-2341,Meno,Major,Meno,OK,73760,South,phdudley,h6wt@400%&Uu

# 1.Which month saw the highest joining of the employees?

In [3]:
def max_joinings_month(df):
    df['Date of Joining'] = pd.to_datetime(df['Date of Joining'])
    
    df['Date of Joining'] = df['Date of Joining'].dt.month_name()\

    joining_counts = df['Date of Joining'].value_counts()
   
    max_month = joining_counts.idxmax()

    # Return the name of the month with the highest joinings
    return max_month

In [4]:
print("on demo.csv",max_joinings_month(df))

on demo.csv April

# 2. What is the mean salary is the state KS?

In [5]:
def mean_ks_salary(df):
    KS_df = df[df['State'] == 'KS'] # filterING the dataframe
    
    salary = KS_df['Salary'] # calculate the mean salary of KS state
    
    mean_salary=salary.mean()
    
    return mean_salary

In [6]:
print("on demo.csv",mean_ks_salary(df))

on demo.csv 104225.45454545454

# 3.Which Region has highest mean salary?

In [7]:
def max_mean_salary_region(df):
    mean_salary_by_region = df.groupby('Region')['Salary'].mean()
    
    max_mean_salary = mean_salary_by_region.max()
    
    region_with_max_mean_salary = mean_salary_by_region[mean_salary_by_region == max_mean_salary].index[0]
    
    return region_with_max_mean_salary

In [8]:
print("on demo.csv",max_mean_salary_region(df))

on demo.csv Midwest

# 4. Which region has lowest mean salary?

In [9]:
def min_mean_salary_region(df):
    mean_salary_by_region = df.groupby('Region')['Salary'].mean()
    
    min_mean_salary = mean_salary_by_region.min()
    
    region_with_min_mean_salary = mean_salary_by_region[mean_salary_by_region == min_mean_salary].index[0]
    
    return region_with_min_mean_salary

In [10]:
print("on demo.csv",min_mean_salary_region(df))

on demo.csv West

# 5. Which City has highest mean weight?

In [11]:
def max_mean_weight_city(df):
    # Calculate the mean weight for each city
    
    mean_weights = df.groupby('City')['Weight in Kgs.'].mean()

    # Find the city with the highest mean weight
    
    max_mean_weight_city = mean_weights.idxmax()

    return max_mean_weight_city

In [12]:
print("on demo.csv",max_mean_weight_city(df))

on demo.csv Conroe

# 6. What is the difference between mean salary of Doctors and Professors?

In [13]:
def dr_prof_mean_salary_diff(df):    
    dr_salary = df[df["Name Prefix"].str.contains('Dr')]['Salary'].mean()
    
    mean_professors_salary = df[df["Name Prefix"].str.contains('Prof')]["Salary"].mean()
    
    final= mean_professors_salary - dr_salary
    return final

In [14]:
print("on demo.csv",dr_prof_mean_salary_diff(df))

on demo.csv 2635.981785063763

# 7. How many female use yahoo?

In [15]:
def females_with_yahoo(df):
    yahoo_mask = df['E Mail'].str.contains('@yahoo')
    
    female_mask = df['Gender'] == 'F'
    
    filtered_df = df[yahoo_mask & female_mask]
    
    return len(filtered_df)

In [16]:
print("on demo.csv",females_with_yahoo(df))

on demo.csv 69

# 8. How many Doctors use gmail?

In [17]:
def doctors_with_gmail(df):
    gmail_mask = df['E Mail'].str.contains('@gmail')
    
    dr_mask = df['Name Prefix'] == 'Dr.'
    
    drs_mask = df['Name Prefix'] == 'Drs.'
    
    total_drs=dr_mask+drs_mask
    
    filtered_df = df[gmail_mask & total_drs]
    
    return len(filtered_df)

In [18]:
print("on demo.csv",doctors_with_gmail(df))

on demo.csv 42

# 9. What is the password of the youngest male?

In [19]:
def youngest_male_password(df):
    
    males = df[df['Gender'] == 'M']
    
    youngest_male = males.loc[males['Age in Yrs.'].idxmin()]
    
#     return youngest_male
    return youngest_male['Password']

In [20]:
print("on demo.csv",youngest_male_password(df))

on demo.csv xPr\aGPTQ#v